.summary {
    width: 595px;
    height: 110px;
    margin-top: 50px;
}

.home-title {
    display: flex;
    max-width: 650px;
    height: 110px;
    flex-wrap: wrap;
    margin-top: 150px;
}

.home-title h1 {
    display: flex;
    width: 500px;
}

.home-title div {

    margin-right: 20px;
}

.line {
    display: flex;
    justify-content: center;
}

.line span {

    display: inline-block;
    transition: transform 0.3s ease-in-out;
}


@keyframes neon {
    0% {
        text-shadow: 0 0 5px #9C27B0, 0 0 10px #9C27B0, 0 0 15px #9C27B0, 0 0 20px #9C27B0, 0 0 25px #9C27B0, 0 0 30px #9C27B0, 0 0 35px #9C27B0;
    }

    50% {
        text-shadow: none;
    }

    100% {
        text-shadow: 0 0 5px #9C27B0, 0 0 10px #9C27B0, 0 0 15px #9C27B0, 0 0 20px #9C27B0, 0 0 25px #9C27B0, 0 0 30px #9C27B0, 0 0 35px #9C27B0;
    }
}

.line span {
    display: inline-block;
    transition: transform 0.3s ease-in-out, color 0.3s ease-in-out;
}

.line span:hover {
    transform: translateY(-5px);
    color: #9C27B0;
    transition: transform 0.3s ease-in-out, color 0.3s ease-in-out;
    --animate-duration: 1000ms;
    --animate-delay: 400ms;
}



.about-me-link {
    display: inline-flex;
    align-items: center;
    text-decoration: none;
    color: #9C27B0;

    transition: color 0.3s ease;
}

.about-me-link svg {
    transform: rotate(270deg);
    transition: fill 0.3s ease, transform 0.5s ease;
}

.about-me-link:hover svg {
    fill: #7B1FA2;
    transform: rotate(360deg);
}