.hero-portfolio {
  width: 770px;
  height: auto;
  margin-top: 180px;
}

.hero-h4-portfolio {
  font-size: 12px;
  color: #ffffff;
  text-transform: uppercase;
  font-weight: 300;
  margin: 0;
  border: 1px solid #565656;
  padding: 9px 20px;
  border-radius: 30px;
  margin-bottom: 53px;
  display: inline-flex;
  align-items: center;
  margin-top: 45px;
}

.hero-h4-portfolio img {
  width: 20px;
  margin-right: 10px;
  filter: brightness(0) saturate(100%) invert(100%);
}

.portfolio-item-1 {
  width: 600px;
  height: 330px;
  background-image: url("../../assets/project-1-blur.png");
  background-size: cover;
  margin-bottom: 4%;
  padding: 36px 36px 0 36px;
  border-radius: 10px;
  position: relative;
  transition: box-shadow 0.3s ease-in-out;
  margin-bottom: 40px;
}

.portfolio-item-2 {
  width: 600px;
  height: 330px;
  background-image: url("../../assets/project-2-blur.png");
  background-size: cover;
  margin-bottom: 4%;
  padding: 36px 36px 0 36px;
  border-radius: 10px;
  position: relative;
  transition: box-shadow 0.3s ease-in-out;
  margin-bottom: 40px;
}

.portfolio-item-3 {
  width: 600px;
  height: 330px;
  background-image: url("../../assets/project-3-blur.png");
  background-size: cover;
  margin-bottom: 4%;
  padding: 36px 36px 0 36px;
  border-radius: 10px;
  position: relative;
  transition: box-shadow 0.3s ease-in-out;
  margin-bottom: 40px;
}

.image-box img {
  width: 600px;
  height: auto;
  position: absolute;
}

.content-box {
  width: 600px;
  position: absolute;
  border-radius: 15px;
  padding: 20px;
  background: linear-gradient(135deg, #28e98c, #2a2a2a);
  opacity: 0;
  transform: translateY(20px);
  transition: opacity 0.3s ease, transform 0.3s ease;
  margin-top: 230px;
  margin-left: -20px;
}

.portfolio-item-1:hover .content-box {
  opacity: 1;
  transform: translateY(0);
}

.portfolio-item-2:hover .content-box {
  opacity: 1;
  transform: translateY(0);
}

.portfolio-item-3:hover .content-box {
  opacity: 1;
  transform: translateY(0);
}

.portfolio-item-1:hover {
  box-shadow: 0 0 30px 0.5px #28e98c;
}

.portfolio-item-2:hover {
  box-shadow: 0 0 30px 0.5px #28e98c;
}

.portfolio-item-3:hover {
  box-shadow: 0 0 30px 0.5px #28e98c;
}

.portfolio-title {
  font-family: "Inter", sans-serif;
  font-size: 30px;
  scroll-behavior: smooth;
  color: #ffffff;
}

.content-box p {
  margin-left: 0px;
}

.skill-project {
  position: absolute;
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  align-items: center;
  bottom: 20px;
  left: 20px;
  transition: opacity 0.3s ease, visibility 0.3s ease;
  opacity: 1;
  visibility: visible;
}

.portfolio-item-1:hover .skill-project {
  opacity: 0;
  visibility: hidden;
}

.portfolio-item-2:hover .skill-project {
  opacity: 0;
  visibility: hidden;
}

.portfolio-item-3:hover .skill-project {
  opacity: 0;
  visibility: hidden;
}

.skill-project li {
  background: #ffffff;
  border-radius: 30px;
  padding: 5px 15px;
  font-size: 14px;
  font-weight: 500;
  align-items: center;
  color: black;
}

.seta-ir {
  width: 22px;
  height: 22px;
  position: absolute;
  margin-left: 550px;
  margin-top: -30px;
  filter: invert(100%) brightness(1000%);
}

@media (max-width: 640px) {
  .hero-portfolio {
    width: 500px;
    margin-top: 50px;
  }

  .portfolio-item-1,
  .portfolio-item-2,
  .portfolio-item-3 {
    width: 450px;

    margin-bottom: 20px;
  }

  .image-box img {
    width: 88%;
    margin-top: 20px;
  }

  .content-box {
    width: 470px;
    padding: 15px;
    margin-top: 220px;
    transform: translateY(10px);
  }

  .portfolio-title {
    font-size: 24px;
  }

  .seta-ir {
    width: 20px;
    margin-left: 90%;
    margin-top: -10px;
  }

  .skill-project {
    bottom: 15px;
    left: 10px;
  }

  .skill-project li {
    padding: 4px 10px;
    font-size: 12px;
  }
}

@media (max-width: 450px) {
  .hero-portfolio {
    width: 300px;
    margin-top: 50px;
    margin-left: -60px;
  }

  .portfolio-item-1,
  .portfolio-item-2,
  .portfolio-item-3 {
    width: 300px;
    height: 200px;
    margin-bottom: 20px;
  }

  .image-box img {
    width: 88%;
    margin-top: 20px;
  }

  .content-box {
    width: 280px;
    padding: 15px;
    margin-top: 80px;
    transform: translateY(10px);
  }

  .portfolio-title {
    font-size: 24px;
  }

  .seta-ir {
    width: 20px;
    margin-left: 85%;
    margin-top: -10px;
  }

  .skill-project {
    bottom: 15px;
    left: 10px;
  }

  .skill-project li {
    padding: 4px 10px;
    font-size: 12px;
  }
}

@media (min-width: 361px) and (max-width: 420px) {
  .hero-portfolio {
    width: 340px;
    margin-top: 50px;
    margin-left: 20px;
  }

  .portfolio-item-1,
  .portfolio-item-2,
  .portfolio-item-3 {
    width: 200px;
    height: 200px;
    margin-bottom: 20px;
  }

  .image-box img {
    width: 230px;
    height: 160px;
    object-fit: cover;
    position: absolute;
    top: 20px;
    left: 20px;
    margin: 0;
  }

  .content-box {
    width: 220px;
    padding: 10px;
    margin-top: 100px;
    transform: translateY(0);
  }

  .portfolio-title {
    font-size: 16px;
    line-height: 24px;
    text-align: center;
  }

  .seta-ir {
    width: 10px;
    height: 10px;
    margin-left: 90%;
    margin-top: -10px;
  }

  .skill-project {
    bottom: 10px;
    left: 10px;
  }

  .skill-project li {
    padding: 3px 8px;
    font-size: 10px;
  }

  .hero-h4-portfolio {
    font-size: 10px;
    padding: 7px 12px;
    margin-top: 20px;
  }

  .hero-h4-portfolio span {
    font-size: 14px;
    line-height: 22px;
  }
}

@media (max-width: 360px) {
  .hero-portfolio {
    width: 320px;
    margin-top: 40px;
    margin-left: 10px;
  }

  .portfolio-item-1,
  .portfolio-item-2,
  .portfolio-item-3 {
    width: 180px;
    height: 180px;
    margin-bottom: 15px;
  }

  .image-box img {
    width: 180px;
    height: 140px;
    object-fit: cover;
    position: absolute;
    top: 25px;
    left: 30px;
    margin: 0;
  }

  .content-box {
    width: 160px;
    padding: 8px;
    margin-top: 90px;
    transform: translateY(0);
  }

  .portfolio-title {
    font-size: 14px;
    line-height: 20px;
    text-align: center;
  }

  .seta-ir {
    width: 8px;
    height: 8px;
    margin-left: 85%;
    margin-top: -5px;
  }

  .skill-project {
    bottom: 8px;
    left: 8px;
  }

  .skill-project li {
    padding: 3px 6px;
    font-size: 9px;
  }

  .hero-h4-portfolio {
    font-size: 9px;
    padding: 6px 10px;
    margin-top: 15px;
  }

  .hero-h4-portfolio span {
    font-size: 12px;
    line-height: 18px;
  }
}

@media (min-width: 800px) and (max-width: 1025px) {
  .hero-portfolio {
    width: 700px;
    margin: 180px auto 0 120px;
  }

  .hero-h4-portfolio {
    font-size: 14px;
    color: #ffffff;
    text-transform: uppercase;
    font-weight: 300;
    border: 1px solid #565656;
    padding: 10px 25px;
    border-radius: 30px;
    margin-top: 45px;
    margin-bottom: 40px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
  }

  .hero-h4-portfolio img {
    width: 24px;
    margin-right: 8px;
    filter: brightness(0) saturate(100%) invert(100%);
  }

  .portfolio-item-1,
  .portfolio-item-2,
  .portfolio-item-3 {
    width: 570px;
    height: 330px;
    margin-bottom: 40px;
    padding: 36px;
    border-radius: 10px;
    position: relative;
    transition: box-shadow 0.3s ease-in-out;
    background-size: cover;
  }

  .portfolio-item-1 {
    background-image: url("../../assets/project-1-blur.png");
  }

  .portfolio-item-2 {
    background-image: url("../../assets/project-2-blur.png");
  }

  .portfolio-item-3 {
    background-image: url("../../assets/project-3-blur.png");
  }

  .image-box img {
    width: 80%;
    height: auto;
    position: absolute;
    top: 50px;
    left: 50px;
  }

  .content-box {
    width: calc(100% - 40px);
    padding: 20px;
    background: linear-gradient(135deg, #28e98c, #2a2a2a);
    border-radius: 15px;
    position: absolute;
    bottom: 20px;
    left: 20px;
    opacity: 0;
    transform: translateY(20px);
    transition: opacity 0.3s ease, transform 0.3s ease;
  }

  .portfolio-item-1:hover .content-box,
  .portfolio-item-2:hover .content-box,
  .portfolio-item-3:hover .content-box {
    opacity: 1;
    transform: translateY(0);
  }

  .portfolio-item-1:hover,
  .portfolio-item-2:hover,
  .portfolio-item-3:hover {
    box-shadow: 0 0 30px 0.5px #28e98c;
  }

  .portfolio-title {
    font-family: "Inter", sans-serif;
    font-size: 30px;
    color: #ffffff;
    text-align: center;
    margin-bottom: 20px;
  }

  .content-box p {
    margin: 0;
  }

  .skill-project {
    position: absolute;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    align-items: center;
    bottom: 20px;
    left: 20px;
    transition: opacity 0.3s ease, visibility 0.3s ease;
    opacity: 1;
    visibility: visible;
  }

  .portfolio-item-1:hover .skill-project,
  .portfolio-item-2:hover .skill-project,
  .portfolio-item-3:hover .skill-project {
    opacity: 0;
    visibility: hidden;
  }

  .skill-project li {
    background: #ffffff;
    border-radius: 30px;
    padding: 5px 15px;
    font-size: 14px;
    font-weight: 500;
    color: black;
  }

  .seta-ir {
    width: 22px;
    height: 22px;
    position: absolute;
    margin-left: calc(100% - 70px);
    margin-top: -30px;
    filter: invert(100%) brightness(1000%);
  }
}
