.header-container {
    height: 100%;
    display: flex;
    justify-content: center;
}

.header {
    width: 1036px;
    height: 60px;
    display: flex;
    align-items: center;
}

.menu-header {
    display: flex;
    width: 200px;
    justify-content: space-between;
    margin-left: 30px;
    margin-top: 15px;
}

.menu-header h2 {

    padding: auto;
}

.contact-button {
    margin-left: 400px;
    margin-top: 15px;
}